
							{{#buttons.profile}}
							<a class="button is-primary" href="{{{baseurl}}}user">
								<strong>Profile</strong>
							</a>
							{{/buttons.profile}}
							{{#buttons.join}}
							<a class="button is-primary" href="{{{baseurl}}}user/signup">
								<strong>Sign up</strong>
							</a>
							<a class="button is-light" href="{{{baseurl}}}user/login">
								Log in
							</a>
							{{/buttons.join}}