		{{#sections.profile}}
		<section class="section">
			<h1 class="title">{{title}}</h1>
			<h2 class="subtitle">{{subtitle}}</h2>
			
			<form action="{{{baseurl}}}user/logout" method="post">
				<div class="field has-addons has-addons-centered">
					<p class="control">
						<a class="button" href="{{{baseurl}}}user/logout">Logout</a>
					</p>
				</div>
			</form>
		</section>
		{{/sections.profile}}
		
		{{#sections.video}}
		<section class="section">
			<h1 class="title">{{title}}</h1>
			<h2 class="subtitle">{{subtitle}}</h2>
				{{#video}}
				<video id="player" controls>
					<source src="{{{baseurl}}}videos/stream/{{_id}}" type="video/mp4">
				</video>
				{{/video}}
		</section>
		{{/sections.video}}
		
		{{#sections.videos}}
		<section class="section">
			<h1 class="title">{{title}}</h1>
			<h2 class="subtitle">{{subtitle}}</h2>
			<div class="columns is-desktop is-multiline">
				{{#videos}}
					{{> thumb}}
				{{/videos}}
			</div>
		</section>
		{{/sections.videos}}
		
		{{#sections.upload}}
		<section class="section">
			<h1 class="title">{{title}}</h1>
			<h2 class="subtitle">{{subtitle}}</h2>
			
			<form id="upload-form" action="{{{baseurl}}}videos/upload" method="post" enctype="multipart/form-data">
				<div class="field">
					<div class="file is-centered is-boxed is-medium is-success has-name">
						<label class="file-label">
							<input id="file-input" class="file-input" type="file" name="file">
							<span class="file-cta">
								<span class="file-icon">
									<i class="fas fa-upload"></i>
								</span>
								<span class="file-label">
									Upload...
								</span>
							</span>
							<span id="file-name" class="file-name"></span>
						</label>
					</div>
				</div>
				<div class="field has-addons has-addons-centered">
					<p class="control">
						<input class="button" type="submit" value="Submit">
					</p>
				</div>
				<div class="field has-addons has-addons-centered">
					<p class="control">
						<progress id="progress" class="progress is-primary" value="0" max="100">0%</progress>
					</p>
				</div>
			</form>
		</section>
		{{/sections.upload}}
		
		{{#sections.signup}}
		<section class="section">
			<h1 class="title">{{title}}</h1>
			<h2 class="subtitle">{{subtitle}}</h2>
			
			<form action="{{{baseurl}}}user/signup" method="post">
				<div class="field has-addons has-addons-centered">
					<p class="control has-icons-left">
						<input class="input" name="username" type="text" placeholder="Username">
						<span class="icon is-small is-left">
							<i class="fas fa-user"></i>
						</span>
					</p>
				</div>
				<div class="field has-addons has-addons-centered">
					<p class="control has-icons-left">
						<input class="input" name="password" type="password" placeholder="Password">
						<span class="icon is-small is-left">
							<i class="fas fa-lock"></i>
						</span>
					</p>
				</div>
				<div class="field has-addons has-addons-centered">
					<p class="control">
						<input class="button" type="submit" value="Sign up">
					</p>
				</div>
			</form>
		</section>
		{{/sections.signup}}
		
		{{#sections.login}}
		<section class="section">
			<h1 class="title">{{title}}</h1>
			<h2 class="subtitle">{{subtitle}}</h2>
			
			<form action="{{{baseurl}}}user/login" method="post">
				<div class="field has-addons has-addons-centered">
					<p class="control has-icons-left">
						<input class="input" name="username" type="text" placeholder="Username">
						<span class="icon is-small is-left">
							<i class="fas fa-user"></i>
						</span>
					</p>
				</div>
				<div class="field has-addons has-addons-centered">
					<p class="control has-icons-left">
						<input class="input" name="password" type="password" placeholder="Password">
						<span class="icon is-small is-left">
							<i class="fas fa-lock"></i>
						</span>
					</p>
				</div>
				<div class="field has-addons has-addons-centered">
					<p class="control">
						<input class="button" type="submit" value="Login">
					</p>
				</div>
			</form>
		</section>
		{{/sections.login}}
		
		{{#sections.adminVideos}}
		<section class="section">
			<h1 class="title">{{title}}</h1>
			<h2 class="subtitle">{{subtitle}}</h2>
			<div class="columns is-desktop is-multiline">
				{{#videos}}
					{{> adminVideo}}
				{{/videos}}
			</div>
		</section>
		{{/sections.adminVideos}}
		
		{{#sections.adminUsers}}
		<section class="section">
			<h1 class="title">{{title}}</h1>
			<h2 class="subtitle">{{subtitle}}</h2>
			<div class="columns is-desktop is-multiline">
				{{#users}}
					{{> adminUser}}
				{{/users}}
			</div>
		</section>
		{{/sections.adminUsers}}